@import "bootstrap";
@import "font-awesome";


a:link, a:visited {
  color: #5bf707;
}

body {
 background-image: url("bg.jpeg");
 background-color: #cccccc;
 font-family: 'Rajdhani', sans-serif;
 font-size: 20px;
}

.btn-danger {
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
  font-size: 20cd px;
  color:   white !important; 
}

.btn-warning {
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
  font-size: 20cd px;
  color:   black !important; 
}

.btn-primary.custom-btn {
  color: #000;
  background-color: #5bf707;
  border-color: #5bf707;
  border: 0;
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
  text-align:center; 
 
}


.card {
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
  border-color:                   none;
}



.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 1;
  }
  @include media-breakpoint-only(xl) {
    column-count: 1;
  }
}


.main {
  max-width: 1024px;
  margin-top: 40px;
}

.main-left {
  float: left;
  width: 30%;
}

.main-right {
  float: right;
  width: 60%;
}

.navi-left {
  float: left;
  width: 33.3%;
}

.navi-right {
  float: right;
  width: 40%;
}

.header {
  background: #FF0000;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: absolute;
}

.inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.ml-0 {
  margin-right: 100px;
}


.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: none;
  text-decoration: none;
  color: #000099;
  background-color: #5bf707;
}
.pagination a:hover .pagination a:active {
  border: 1px solid #000099;
  color: #000;

}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #5bf707;
}

.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #5bf707;
}
