

<% @posts.each do |post| %>
  <div class="category-post">
    <span class="post-title"><%= link_to post.title, post_path(post) %></span>
    <span class="post-date"><%= time_ago_in_words post.created_at %></span>
  </div>
<% end %>


<% if @posts.empty? %>
 <p> no posts to display </p>
<% end %>

 
