


<div class="container">

    <% @categories.each do |category| %>
      <div class="row">
        <div class="card  bg-dark text-white main-left" style="height: 15rem; width: 30rem;">
          <div class="card-body">
            <a href="<%= category_path(category) %>" style="width:100%;height:100%;display:block"><h2 class="card-title">
              <%= category.name %>
            </h2></a>           
          </div>
        </div>
      </div>
      <br>
    <% end %>

</div>          
          





